
eclipse-workspace/.metadata/version.ini
eclipse-workspace/.metadata/.plugins/org.eclipse.m2e.logback/0.log
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/71978010.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/4255192181.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/4142061178.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/4000765743.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/3976985889.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/3632179922.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/3503086449.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/3152357595.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/311091191.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/3030904581.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/2878067588.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/2718667772.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/2192623111.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/200941021.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/1950811436.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/1872070847.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/1637731351.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/1527591098.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/1306649669.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/1301276256.index
eclipse-workspace/.metadata/.plugins/org.eclipse.jdt.core/1182609963.index
eclipse-workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
eclipse-workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
eclipse-workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
eclipse-workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/JFreeChart/.syncinfo.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/JFreeChart/.markers.snap
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/JFreeChart/.markers
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/JFreeChart/.indexes/e4/e4/d6/aa/92/history.index
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/JFreeChart/.indexes/af/history.index
eclipse-workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
eclipse-workspace/.metadata/.log
